<span class="left_panel">
  <div class="table">
    <%= render partial: 'index', locals: {index_arr: ApiIndexRenderer.passenger_api_index } %>
  </div>  
</span>
<span class='right_panel'>  
    
  
  <!-- Sign Up Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Sign Up', 
        link_href: 'signup',
        link_method: 'POST',
        original_link:   api_todo_list_signup_path,
        parameters: [
          {name: 'user[username]', description: 'User name'},
          {name: 'user[firstname]', description: 'First name'},
          {name: 'user[lastname]', description: 'Last name'},
          {name: 'user[email]', description: 'Email Address of User', required: 1 },
          {name: 'user[password]', description: 'Password', required: 1},
          {name: 'user[password_confirmation]', description: 'Password', required: 1},
          {name: 'user[contact_number]', description: 'Contact number'},
          {name: 'avatar', description: 'Image in base64 format'},
          {name: 'user[device_id]', description: 'Device id'},
          {name: 'user[device_type]', description: 'Device type (iphone/android)'},
          {name: 'user[time_zone]', description: 'Time zone'}
        ],
        options: {}} %>
     
  <!-- Login Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Login', 
        link_href: 'login',
        link_method: 'POST',
        original_link:  api_todo_list_login_path,
        parameters: [
          {name: 'email', description: 'Email Address of User', required: 1 },
          {name: 'password', description: 'Password', required: 1},
          {name: 'device_id', description: 'Device id'},
          {name: 'device_type', description: 'Device type (iphone/android)'},
          {name: 'time_zone', description: 'Time zone'}
        ],
        options: {}} %>

  <!-- Change password-->
  <%= render partial: 'api', locals: {
        link_name: 'Change Password', 
        link_href: 'change_password',
        link_method: 'POST',
        original_link:  api_todo_list_change_password_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 },
          {name: 'user[current_password]', description: 'Current Password', required: 1},
          {name: 'user[new_password]', description: 'New Password', required: 1},
          {name: 'user[new_password_confirmation]', description: 'Confirm new Password', required: 1},
        ],
        options: {}} %>

  <!-- Forgot password -->
  <%= render partial: 'api', locals: {
        link_name: 'Forgot Password', 
        link_href: 'forgot_password',
        link_method: 'POST',
        original_link:  api_todo_list_forget_password_path,
        parameters: [
          {name: 'email', description: 'Email Address of User', required: 1 }
        ],
        options: {}} %>

  <!-- Logout Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Logout', 
        link_href: 'logout',
        link_method: 'GET',
        original_link:  api_todo_list_logout_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 }
        ],
        options: {}} %>

  <!-- Edit User -->
  <%= render partial: 'api', locals: {
        link_name: 'Edit User', 
        link_href: 'edit_user',
        link_method: 'POST',
        original_link:  update_profile_api_todo_list_users_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 },
          {name: 'user[username]', description: 'User name'},
          {name: 'user[firstname]', description: 'First name'},
          {name: 'user[lastname]', description: 'Last name'},
          {name: 'user[contact_number]', description: 'Contact number'},
          {name: 'avatar', description: 'Image in base64 format'},
          {name: 'user[device_id]', description: 'Device id'},
          {name: 'user[device_type]', description: 'Device type (iphone/android)'}
        ],
        options: {}} %>

  <!-- Get Profile Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Get Profile of user', 
        link_href: 'get_profile_of_user',
        link_method: 'GET',
        original_link:  get_profile_api_todo_list_users_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 }
        ],
        options: {}} %>

  <!-- Add new Task -->
  <%= render partial: 'api', locals: {
        link_name: 'Add new task', 
        link_href: 'add_new_task',
        link_method: 'POST',
        original_link:  api_todo_list_tasks_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 },
          {name: 'task[user_id]', description: 'Id of friend for whom you want to add task'},
          {name: 'task[task_name]', description: 'Task name', required: 1},
          {name: 'task[favorite]', description: 'Task favorite or not. 1 for favorite and 0 for un-favorite'},
          {name: 'task[amount]', description: 'integer'},
          {name: 'task[tnumber]', description: 'integer'},
          {name: 'task[note]', description: 'note about task'},
          {name: 'task[category]', description: 'private or public'},
          {name: 'task[task_type]', description: 'keyword or custom'},
          {name: 'task[inner_task]', description: ''}
        ],
        options: {}} %>

  <!-- Edit Task -->
  <%= render partial: 'api', locals: {
        link_name: 'Edit task', 
        link_href: 'edit_task',
        link_method: 'POST',
        original_link:  edit_task_api_todo_list_tasks_path,
        parameters: [
          {name: 'id', description: 'Task id to edit', required: 1 },
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 },
          {name: 'task[task_name]', description: 'Task name', required: 1},
          {name: 'task[favorite]', description: 'Task favorite or not. 1 for favorite and 0 for un-favorite'},
          {name: 'task[amount]', description: 'integer'},
          {name: 'task[tnumber]', description: 'integer'},
          {name: 'task[note]', description: 'note about task'},
          {name: 'task[category]', description: 'private or public'},
          {name: 'task[task_type]', description: 'keyword or custom'},
          {name: 'task[inner_task]', description: ''}
        ],
        options: {}} %>

  <!-- Completed Tasks -->
  <%= render partial: 'api', locals: {
        link_name: 'Completed tasks', 
        link_href: 'completed_tasks',
        link_method: 'POST',
        original_link:  completed_status_api_todo_list_tasks_path,
        parameters: [
          {name: 'id', description: 'Task id to complete', required: 1 },
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 }
        ],
        options: {}} %>

  <!-- Notify Tasks -->
  <%= render partial: 'api', locals: {
        link_name: 'Notify tasks', 
        link_href: 'notify_tasks',
        link_method: 'POST',
        original_link:  notify_api_todo_list_tasks_path,
        parameters: [
          {name: 'id', description: 'Task id to notify', required: 1 },
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 }
        ],
        options: {}} %>

  <!-- Accepte or reject task -->
    <%= render partial: 'api', locals: {
        link_name: 'Accepte or reject task', 
        link_href: 'accepte_or_reject_task',
        link_method: 'POST',
        original_link:  accept_or_reject_api_todo_list_tasks_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 },
          {name: 'id', description: 'Unique Id of Task', required: 1},
          {name: 'status', description: '"active" to accepted and "reject" to reject task', required: 1}
        ],
        options: {}} %>

  <!-- Delete Task -->
  <%= render partial: 'api', locals: {
        link_name: 'Delete task', 
        link_href: 'delete_task',
        link_method: 'POST',
        original_link:  destroy_task_api_todo_list_tasks_path,
        parameters: [
          {name: 'id', description: 'Task id to delete', required: 1 },
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 }
        ],
        options: {}} %>

  <!-- Get All Tasks -->
  <%= render partial: 'api', locals: {
        link_name: 'Get All tasks', 
        link_href: 'get_all_tasks',
        link_method: 'GET',
        original_link:  api_todo_list_tasks_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 }
        ],
        options: {}} %>

  <!-- Popular Tasks -->
  <%= render partial: 'api', locals: {
        link_name: 'Popular tasks', 
        link_href: 'popular_tasks',
        link_method: 'GET',
        original_link:  popular_tasks_api_todo_list_tasks_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 }
        ],
        options: {}} %>

  <!-- Recent Tasks -->
  <%= render partial: 'api', locals: {
        link_name: 'Recent tasks', 
        link_href: 'recent_tasks',
        link_method: 'GET',
        original_link:  recent_tasks_api_todo_list_tasks_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 }
        ],
        options: {}} %>

  <!-- Send Friend Request -->
  <%= render partial: 'api', locals: {
        link_name: 'Send Friend Request', 
        link_href: 'send_friend_request',
        link_method: 'POST',
        original_link:  api_todo_list_friends_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 },
          {name: 'friend[user_two]', description: 'Id of friend request reciever', required: 1 }
        ],
        options: {}} %>

  <!-- Status change of friend request -->
  <%= render partial: 'api', locals: {
        link_name: 'Status change of Friend Fequest', 
        link_href: 'status_change_of_friend_request',
        link_method: 'POST',
        original_link:  status_change_api_todo_list_friends_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 },
          {name: 'sender_id', description: 'Id of sender of request', required: 1 },
          {name: 'status', description: 'confirm or block', required: 1 }
        ],
        options: {}} %>

  <!-- Delete friend request -->
  <%= render partial: 'api', locals: {
        link_name: 'Delete Friend Fequest', 
        link_href: 'delete_friend_request',
        link_method: 'GET',
        original_link:  delete_api_todo_list_friends_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 },
          {name: 'sender_id', description: 'Id of sender of request', required: 1 }
        ],
        options: {}} %>

  <!-- List friends, registered and unregistered users -->
    <%= render partial: 'api', locals: {
        link_name: 'List Friends, Registered and Unregistered users', 
        link_href: 'contact_list',
        link_method: 'POST',
        original_link:  contact_list_api_todo_list_friends_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 },
          {name: 'emails', description: 'emails from mobile contacts comma separated', required: 1 },
          {name: 'names', description: 'names from mobile contacts comma separated', required: 1 }
        ],
        options: {}} %>

  <!-- List friend requests -->
    <%= render partial: 'api', locals: {
        link_name: 'List Friends with perfect_day', 
        link_href: 'list_friends_with_perfect_day',
        link_method: 'GET',
        original_link:  api_todo_list_friends_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 }
        ],
        options: {}} %>

  <!-- Search -->
    <%= render partial: 'api', locals: {
        link_name: 'Search User by contact number or name or email', 
        link_href: 'search',
        link_method: 'GET',
        original_link:  search_api_todo_list_users_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 },
          {name: 'search_string', description: 'string to search in firstname or lastname or email or contact number', required: 1 },
          {name: 'search_type', description: 'contact number or email or name', required: 1 }
        ],
        options: {}} %>

  <!-- Popular Task of friends -->
    <%= render partial: 'api', locals: {
        link_name: 'Popular Task of friends', 
        link_href: 'friend_popular_task',
        link_method: 'GET',
        original_link:  popular_task_api_todo_list_friends_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 }
        ],
        options: {}} %>

    <!-- Invite friend -->
    <%= render partial: 'api', locals: {
        link_name: 'Invite friends', 
        link_href: 'invite_friend',
        link_method: 'POST',
        original_link:  invite_api_todo_list_friends_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 },
          {name: 'email', description: 'Email of froend to whom invitation should be sent', required: 1}
        ],
        options: {}} %>

    <!-- Visit friend -->
    <%= render partial: 'api', locals: {
        link_name: 'Visit friend', 
        link_href: 'visit_friend',
        link_method: 'GET',
        original_link:  visit_api_todo_list_friends_path,
        parameters: [
          {name: 'authentication_token', description: 'Authentication Token which you will get from login or register api', required: 1 },
          {name: 'friend_id', description: 'Unique Id of friend', required: 1}
        ],
        options: {}} %>
</span>